{
    "singleQuote": true,
    "semi": true,
    "tabWidth": 4,
    "printWidth": 100,
    "singleAttributePerLine": false,
    "useTabs": false,
    "endOfLine": "auto",
    "proseWrap": "preserve"
}
